@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --header-height: 3rem;

    --first-color: #F4BFBF;
    --primary-color: #171717;
    --first-color-alt: #FFD9C0;
    --first-color-send: #FAF0D7;
    --title-color: #161212;
    --text-color: #8e8f8e;
    --text-color-light: #8F8A8A;
    --body-color: #FEFBFB;
}

::-webkit-scrollbar {
    background-color: var(--body-color);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--first-color);
    border-radius: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--body-color);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    height: 100vh;
    width: 100%;
}

.section-title {
    position: relative;
    font-size: 1.25rem;
    color: var(--first-color);
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

.section-title::after{
    position: absolute;
    content: "";
    width: 92px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 1;
}

.nav {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
}

.nav__logo img {
    width: 120px;
    margin-top: 6px;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        width: 90%;
        margin: 0 auto;
        padding: 2.5rem 0 0;
        text-align: center;
        background-color: var(--first-color);
        transition: .4s;
        -webkit-box-shadow: 5px 5px 15px 5px rgba(89, 89, 89, 0.47); 
        box-shadow: 5px 5px 15px 5px rgba(89, 89, 89, 0.47);
        border-radius: 2rem;
        z-index: 100;
    }

    .nav__link {
        letter-spacing: 4px;
    }
}

.nav__item {
    margin-bottom: 1.5rem;
}

.nav__link {
    color: var(--body-color);
    font-weight: 600;
    text-transform: uppercase;
}

.nav__toggle {
    font-size: 2rem;
    color: var(--body-color);
    cursor: pointer;
    margin-right: 10px;
}

.show-menu {
    top: 6.5rem;
}

.scroll-header {
    background-color: var(--first-color);
    transition: .5s;
    box-shadow: 0px 2px 22px 5px rgba(89, 89, 89, 0.47);
}

.nl:hover {
   color: var(--text-color); 
}

.scroll-link:hover {
    color: var(--body-color);
}

.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background: var(--first-color);
    border-radius: 50%;
    z-index: 10;
    /* box-shadow: 4px 4px 4px rgba(0, 0, 0, .1); */
    -webkit-box-shadow: 8px 7px 15px 5px rgba(0,0,0,0.44); 
    box-shadow: 8px 7px 15px 5px rgba(0,0,0,0.44);
}

.scrolltop__icon {
    font-size: 2.5rem;
    color: var(--body-color);
}

.scrolltop__icon:hover {
    font-size: 2.5rem;
    transition: .5s;
}

.slider {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.slider--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.slider--feature {
    text-align: center;
}

.slider--text {
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    margin: 0.5rem 0;
}

.slider--feature p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: .5rem;
    /* text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.37); */
    /* text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.62); */
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.62);
}

.slider__btn-right, .slider__btn-left {
    background: transparent;
    border: none;
    outline: none;
    color: #eee;
    padding: 0 1rem;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.slider--btn {
    background: var(--first-color);
    border-radius: 50px;
    text-transform: uppercase;
    color: var(--body-color);
    outline: none;
    font-weight: 700;
    padding: 0.8rem 2.5rem;
    cursor: pointer;
    letter-spacing: .3rem;
}

.slider--btn:hover {
    background-color: var(--body-color);
    color: var(--first-color);
    transition: .5s;
}

.wave{
    position: absolute;
    bottom: -40px;
    width: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 1s;
}

main {
    overflow: hidden;
}

.home {
    position: relative;
    padding: 3rem 0;
    width: 100%;
}

.home__container {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.home__container p {
    color: var(--text-color);
}

.home::before {
    content: "";
    position: absolute;
    top: -90px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/wave.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.home__data--img {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.home__data--img img {
    width: 250px;
    border-radius: 50%;
    margin-top: 30px;
}

.home__work {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.home__work a {
    color: var(--first-color);
    text-transform: uppercase;
    letter-spacing: .3rem;
}

.home__work a:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .8s;
    background-color: var(--first-color);
}

.home__work a:hover:after {
    width: 100%;
    background: var(--first-color);
}

.footer{
    background-color: var(--first-color);
    padding: 2rem 0;
    position: relative;
    width: 100%;
    height: 550px;
}

.footer__container{
    row-gap: 2rem;
    margin-top: 40px;
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.footer__data {
    color: var(--body-color);
    width: 100%;
}

.footer__title{
    font-size: .938rem;
    color: var(--body-color);
    margin-bottom: 1rem;
    position: relative;
    letter-spacing: .5rem;
}

.footer__title::after{
    position: absolute;
    content: "";
    width: 50px;
    height: .18rem;
    left: 0;
    right: 0;
    top: 2rem;
    background-color: var(--body-color);
}

.footer__link{
    padding: .25rem 0;
    color: var(--body-color);
}

.footer__link:hover{
    color: var(--body-color);
}

.footer__social{
    font-size: 1.4rem;
    margin-right: .5rem;
    color: var(--body-color);
}

.footer__social:hover{
    color: var(--text-color);
}

.wave__footer-top {
    position: absolute;
    top: -20px;
    width: 100%;
}

.footer__rights {
    text-align: center;
    color: #8a8a8a;
    font-size: .813rem;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 20px;
}

.footer__rights a {
    text-align: center;
    color: #8a8a8a;
    font-size: .813rem;
}

@media  screen and (max-width: 350px){ 
    .nav {
        justify-content: space-between;
    }

    .nav__toggle {
        margin-right: 10px;
    }

    .name::after{
        position: absolute;
        content: "";
        width: 50px;
        height: .18rem;
        left: 0;
        right: 0;
        top: 3.4rem;
        background-color: var(--body-color);
    }
}

@media screen and (min-width: 351px) {
    .slider--feature p {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 500px) {
    .slider--feature p {
        font-size: 2rem;
    }
}

@media screen and (max-width: 568px) { 
    .nav {
        justify-content: space-between;
    }

    .nav__logo a{
        margin-left: 10px;
    }

    .nav__toggle {
        margin-right: 10px;
    }
}

@media screen and (min-width: 768px) { 
    body {
        margin: 0;
    }

    .section__title {
        margin-bottom: 20px;
    }

    .nav {
        height: 6rem;
        justify-content: space-between;
    }

    .nav__logo img {
        width: 150px;
    }

    .nav__links {
        text-transform: uppercase;
        color: var(--first-color);
    }

    .nav__link:hover {
        color: var(--first-color);
    }

    .nav__item {
        padding: .5rem;
        margin: 0 auto;
    }

    .nav__menu {
        display: flex;
        margin-right: 20px;
        color: var(--body-color);
    }

    .nav__list {
        display: flex;
        color: var(--body-color);
        letter-spacing: 3px;
    }

    .nav__toggle {
        display: none
    }

    .footer {
        overflow: hidden;
    }

    .footer__container {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer__data {
        margin-top: 70px;
        margin-left: 30px;
    }

    .footer__title {
        margin-bottom: 50px;
    }
    
    .footer__title::after{
        position: absolute;
        content: "";
        width: 50px;
        height: .18rem;
        left: 0;
        right: 0;
        top: 3rem;
        background-color: var(--body-color);
    }   

    .footer__text {
        letter-spacing: 1px;
    }

    .f2 {
        margin-left: 70px;
    }

    .name::after{
        position: absolute;
        content: "";
        width: 50px;
        height: .18rem;
        left: 0;
        right: 0;
        top: 3rem;
        background-color: var(--body-color);
    }

    .footer__list li {
        margin-bottom: 10px;
        letter-spacing: 1px;
    }

    .footer__social i {
        margin-right: 20px;
    }

    .nav .nav__menu .nav__link:after {
        content: "";
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        transition: all .8s;
    }
    
    .nav .nav__menu .nav__link:hover:after {
        width: 100%;
        background: var(--first-color);
    }

    .home__container {
        margin: 0 auto;
    }

    .home__text {
        text-align: center;
    }

    .slider--feature p {
        font-size: 4rem;
    }

    .slider--btn {
        width: 500px;
    }
}

@media screen and (min-width: 930px) {
    .nav__item {
        padding: 1rem;
        margin: 0 auto;
    }

    .nav__list {
        letter-spacing: 5px;
    }
}

@media screen and (min-width: 1016px) {
    .name::after{
        position: absolute;
        content: "";
        width: 50px;
        height: .18rem;
        left: 0;
        right: 0;
        top: 3rem;
        background-color: var(--body-color);
    }
}